English Edition/CHAPTER_9/NODE-RED_flow/NEW_TTN.json
[
    {
        "id": "eaa1c5764b38da6d",
        "type": "tab",
        "label": "NEW TTN",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6f5f0da040a3a7b",
        "type": "function",
        "z": "eaa1c5764b38da6d",
        "name": "Extract Data",
        "func": "var obj = \n{\n    0: msg.payload.uplink_message.decoded_payload.Temperature,\n    1: msg.payload.uplink_message.decoded_payload.Humidity,\n    2: msg.payload.uplink_message.decoded_payload.ldr\n}\n\n\nvar res_temp= obj[0]\nvar res_hum = obj[1]\nvar res_ldr = obj[2]\n\nvar msg1 = { payload:res_temp };\nvar msg2 = { payload:res_hum };\nvar msg3 = { payload: res_ldr };\n\nreturn [msg1,msg2,msg3]\n\n\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "62ce059e7cf29fe1",
                "cf3ac335468dcb52"
            ],
            [
                "069e6435e5bfc278",
                "d2f8c28e81cc7b3f"
            ],
            [
                "77f0c50ac4987bb0",
                "f290c40e8688522d"
            ]
        ]
    },
    {
        "id": "730bd387aec67e04",
        "type": "json",
        "z": "eaa1c5764b38da6d",
        "name": "",
        "x": 830,
        "y": 200,
        "wires": [
            [
                "b6f5f0da040a3a7b",
                "f0de3c1e6b09268c"
            ]
        ]
    },
    {
        "id": "64fd87a9cc14bd2c",
        "type": "mqtt in",
        "z": "eaa1c5764b38da6d",
        "name": "MQTT TTN UPLINK",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "a25e29010afd0296",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "730bd387aec67e04"
            ]
        ]
    },
    {
        "id": "62ce059e7cf29fe1",
        "type": "debug",
        "z": "eaa1c5764b38da6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "069e6435e5bfc278",
        "type": "debug",
        "z": "eaa1c5764b38da6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 240,
        "wires": []
    },
    {
        "id": "f0de3c1e6b09268c",
        "type": "debug",
        "z": "eaa1c5764b38da6d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "e2791e215b9ea81c",
        "type": "ui_gauge",
        "z": "eaa1c5764b38da6d",
        "d": true,
        "name": "Temp",
        "group": "d7fbb66a.e286c8",
        "order": 6,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Temp",
        "label": "Degrees",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2f8c28e81cc7b3f",
        "type": "ui_gauge",
        "z": "eaa1c5764b38da6d",
        "name": "Hum",
        "group": "d7fbb66a.e286c8",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "Hum",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "f290c40e8688522d",
        "type": "debug",
        "z": "eaa1c5764b38da6d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "77f0c50ac4987bb0",
        "type": "ui_gauge",
        "z": "eaa1c5764b38da6d",
        "name": "ldr",
        "group": "d7fbb66a.e286c8",
        "order": 5,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "LDR",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "cf3ac335468dcb52",
        "type": "ui_widget_thermometer",
        "z": "eaa1c5764b38da6d",
        "group": "d7fbb66a.e286c8",
        "order": 1,
        "width": 6,
        "height": "6",
        "name": "",
        "title": "Temp",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": 100,
        "minTempMoreThanMaxTemp": "1",
        "numberOfDecimals": "0",
        "showPercentage": "0",
        "currentTempFontSize": "1.2",
        "x": 1270,
        "y": 60,
        "wires": []
    },
    {
        "id": "60ed10b01d9411e6",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "552db74dc1edc4ae",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "47c9ea76243681be",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2a932ae18b4dede",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "588bc11a2b422d49",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d930cc93c0a44a0d",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "db7380179a0b70eb",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "bb81e6fe0ecba68e",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "ec38a3e8accb50fc",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "112f089150eed953",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "51bfdfdbf3b0422e",
        "type": "ui_spacer",
        "z": "eaa1c5764b38da6d",
        "name": "spacer",
        "group": "d7fbb66a.e286c8",
        "order": 15,
        "width": 14,
        "height": 1
    },
    {
        "id": "a25e29010afd0296",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7fbb66a.e286c8",
        "type": "ui_group",
        "name": "Device 001",
        "tab": "835c0eeb.9730b",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "835c0eeb.9730b",
        "type": "ui_tab",
        "name": "NEW TTN",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]